@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body {
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

header {
    background: rgba(0,0,0,0.5);
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

main {
    background: rgba(0,0,0,0.5);
    padding: 50px;
    height: 100vh;
}

input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: rgb(0, 0, 0, 0.8);
    border: 1px solid white;
    padding: 5px;
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    text-decoration: underline;
    text-align: center;
}

input:hover{
    border-radius: 10px;
    
}

input:focus{
    outline: none;
    border-radius: 10px;
}

::placeholder {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

select {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0.8);
    border: 1px solid white;
    color: white;
    transition: 0.2s;
}

select:hover {
    border-radius: 10px;
}

select:focus {
    outline: none;
}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background: rgb(0, 153, 255);
    border: none;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

p {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.tc {
    display: inline-block;
    margin-left: 7.5%;
    width: 80%;
    background: rgb(0, 0, 0, 0.8);
    padding: 30px;
    height: 500px;
    overflow: auto;
    border: 1px solid white;
}

.contact {
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

form {
    display: inline-block;
    margin-top: 10%;
    background: black;
    padding: 20px;
    border: 1px solid white;
}

b {
    text-decoration: underline;
}

#email {
    text-align: left;
    width: 299.5px;
    margin-bottom: 10px;
}

#email:hover {
    border-radius: 0px;
}

#email:focus {
    border-radius: 0px;
}

textarea {
    background: none;
    border: 1px solid white;
    width: 299.5;
    border-radius: 0px;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

#close {
    display: flex;
    margin-right: auto;
}

#close:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    input {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background: rgb(0, 0, 0, 0.8);
        border: 1px solid white;
        padding: 5px;
        font-size: 18px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        transition: 0.2s;
        text-decoration: underline;
        text-align: center;
    }

    select {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        background-color: rgb(0, 0, 0, 0.8);
        border: 1px solid white;
        color: white;
        transition: 0.2s;
    }

    .tc {
        display: inline-block;
        margin-left: 0%;
        width: 80%;
        background: rgb(0, 0, 0, 0.8);
        padding: 30px;
        height: 250px;
        overflow: auto;
        border: 1px solid white;
    }
}